<h1>Todos</h1>

<div class="overflow-x-auto">
  <table class="table">
    <!-- head -->
    <thead>
      <tr>
        <th>Completed?</th>
        <th>Todo Item</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <% todos.forEach(el => { %>
      <tr data-id="<%= el._id %>" class="todoItem">
        <td>
          <label>
            <input type="checkbox" class="checkbox" <%= el.completed ? 'checked'
            : '' %> data-id="<%= el._id %>"
            onclick="toggleCompleteStatus(event)" />
          </label>
        </td>

        <td>
          <span><%= el.todo %></span>
        </td>
        <td>
          <span class="del btn btn-error">Delete</span>
        </td>
      </tr>
      <% }) %>
    </tbody>
  </table>
</div>

<h2><%= user.userName %> has <%= left %> things left to do.</h2>

<form action="/todos/createTodo" method="POST">
  <input type="text" placeholder="Enter Todo Item" name="todoItem" />
  <input class="btn btn-primary" type="submit" />
</form>

<a href="/logout">Logout</a>

<script src="js/main.js"></script>
