<div class="min-w-screen text-center">
  <h1 class="text-3xl font-bold my-10 text-wrap">
    Welcome, <%= user.userName %>.
  </h1>

  <div class="overflow-x-auto w-full lg:w-1/2 mx-auto">
    <table class="table">
      <!-- head -->
      <thead>
        <tr>
          <th>Completed?</th>
          <th>Todo Item</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <% todos.forEach(el => { %>
        <tr data-id="<%= el._id %>" class="todoItem">
          <td>
            <label>
              <input type="checkbox" class="checkbox" <%= el.completed ?
              'checked' : '' %> data-id="<%= el._id %>"
              onclick="toggleCompleteStatus(event)" />
            </label>
          </td>

          <td>
            <div class="card">
              <div class="card-body flex flex-col items-center">
                <figure>
                  <img src="<%= el.image %>" alt="Todo Image" />
                </figure>
                <h2 class="card-title font-bold text-2xl"><%= el.todo %></h2>
              </div>
            </div>
          </td>
          <td>
            <span class="del btn btn-error">Delete</span>
          </td>
        </tr>
        <% }) %>
      </tbody>
    </table>
  </div>

  <div class="divider"></div>

  <div class="card bg-base-100 w-3/4 lg:w-1/4 mx-auto shrink-0 shadow-2xl">
    <h1 class="text-2xl font-bold">Create a Todo</h1>
    <form
      action="/todos/createTodo"
      enctype="multipart/form-data"
      method="POST"
      class="flex flex-col items-center gap-3 mt-3"
    >
      <input
        type="text"
        placeholder="Create a Todo"
        name="todoItem"
        required
        class="input input-bordered w-full max-w-xs"
      />

      <div
        id="dropzone"
        class="mb-3 flex flex-col items-center gap-3 p-6 rounded-3xl border border-dashed border-primary"
      >
        <label for="imgUpload" class="form-label text-primary font-bold"
          >Upload Image</label
        >
        <span class="icon-wrapper">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            class="h-12 w-12 text-primary"
          >
            <path
              fill="currentColor"
              d="M6.5 20q-2.28 0-3.89-1.57Q1 16.85 1 14.58q0-1.95 1.17-3.48q1.18-1.53 3.08-1.95q.63-2.3 2.5-3.72Q9.63 4 12 4q2.93 0 4.96 2.04Q19 8.07 19 11q1.73.2 2.86 1.5q1.14 1.28 1.14 3q0 1.88-1.31 3.19T18.5 20H13q-.82 0-1.41-.59Q11 18.83 11 18v-5.15L9.4 14.4L8 13l4-4l4 4l-1.4 1.4l-1.6-1.55V18h5.5q1.05 0 1.77-.73q.73-.72.73-1.77t-.73-1.77Q19.55 13 18.5 13H17v-2q0-2.07-1.46-3.54Q14.08 6 12 6Q9.93 6 8.46 7.46Q7 8.93 7 11h-.5q-1.45 0-2.47 1.03Q3 13.05 3 14.5T4.03 17q1.02 1 2.47 1H9v2m3-7"
            />
          </svg>
        </span>
        <p id="message" class="text-sm text-gray-500">
          Drag and drop an image here
        </p>
        <input type="file" class="form-control" id="imageUpload" name="file" />
      </div>
      <div class="form-control mt-3">
        <button class="btn btn-wide btn-primary" type="submit" value="Upload">
          Create Todo
        </button>
      </div>

      <!-- <input class="btn btn-primary btn-wide" type="submit" /> -->
      <div>
        <h2>
          <span class="font-bold text-primary"><%= user.userName %></span> has
          <%= left %> things left to do.
        </h2>
      </div>
    </form>
  </div>

  <a href="/logout" class="btn mt-6">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="1em"
      height="1em"
      viewBox="0 0 24 24"
      class="h-6 w-6"
    >
      <path
        fill="currentColor"
        d="M5 21q-.825 0-1.412-.587T3 19V5q0-.825.588-1.412T5 3h7v2H5v14h7v2zm11-4l-1.375-1.45l2.55-2.55H9v-2h8.175l-2.55-2.55L16 7l5 5z"
      />
    </svg>
    <span>Logout</span>
  </a>

  <script src="js/main.js"></script>
</div>
